<div id="footer" class="container-fluid">
    <ul id="links">
        {% if site.github_url %}
        <li>
            <a id="link-github" href="http://github.com/{{ site.github_url.username }}" target="_blank">
                <span class="sr-only">github</span>
            </a>
        </li>
        {% endif %}

    </ul>
    <ul id="footer-menu">
        <li><a href="http://www.kcc.co.kr">KCC 그룹</a></li>
        <li><a href="//main.kcc.co.kr">KCC 정보통신</a></li>
        <li><a href="//privacy.kcc.co.kr">Privacy</a></li>
    </ul>
    <p id="copyright">
        <a href="//www.kcc.co.kr">Copyright &copy; KCC 정보통신.</a>
        All rights reserved.
    </p>
</div><!--#footer-->
